{% extends '../layouts/base.twig' %}

{% block styles %}
    .sds{
        background: red;
    }
{% endblock %}

{% block title %}prueba{% endblock %}

{% block content %}
    <div class="prueba">
        <h1>prueba index ..sdsdsd</h1>
    </div>
{% endblock %}
{% block scripts %}
    <script> 
        console.log("prueba")
    </script>
{% endblock %}