<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="./dist/assets/app.css">
    {% include '../common/head.twig' %}
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
    <div class="wrapper">
        {% include '../common/header.twig' %}
        {% block content %}{% endblock %}
        {% include '../common/footer.twig' %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>